<div class="main_content">
    <div class="sd_right">
      <div class="text_padding">
      	
      	 <div class="panel">
      	 	 <h2>Meet the Coaches</h2>
      	 	</div>
      	 	 	 <div class="panel">
      	 	 	 	  <% for coach in @coaches%>
					<div class="entry">
						<h4><%=h(coach.name)%></h4>
						<p>Level: <%=h(coach.level)%></p>
					</div>	
					</br>
					  <a class="button nice radius red small"" onclick="_gaq.push(['_trackEvent', 'Buttons', 'Download theme', 'Homepage']);""  <%= link_to 'View profile', coach %> </a>
				</br></br>
				<%end%>
				
         </div>
      	
       

        
      
      
      
      </div>
    </div>




    
 <div class="sd_left">
 

    	<% for about in @abouts%>
		<div class="entry">
			<h3>About Us</h3>			
			<p><%=h(about.about_us)%></p>
			<h3>Vision</h3>
			<p><%=h(about.vision)%></p>
			<h3>History</h3>
			<p><%=h(about.history)%></p>
		</div>	
	<%end%>
   
 </div>     
    

</div>
 
