<h1>Listing registrations</h1>

<table>
  <tr>
    <th>Lesson</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Address</th>
    <th>Child name</th>
    <th>Child age</th>
    <th>Photo consent</th>
    <th>Medical info</th>
    <th>Payment method</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registrations.each do |registration| %>
  <tr>
    <td><%= registration.lesson %></td>
    <td><%= registration.first_name %></td>
    <td><%= registration.last_name %></td>
    <td><%= registration.address %></td>
    <td><%= registration.child_name %></td>
    <td><%= registration.child_age %></td>
    <td><%= registration.photo_consent %></td>
    <td><%= registration.medical_info %></td>
    <td><%= registration.payment_method %></td>
    <td><%= link_to 'Show', registration %></td>
    <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
    <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Registration', new_registration_path %>
