
 <ul>
      <% if can? :update, @coach%>
         <li><%= link_to 'Product Management', products_path%></li>
         <li><%= link_to 'blog', posts_path %></li>
         <li><%= link_to 'Lesson Bookings', lessons_path %></li>
         <li><%= link_to 'Coaches ', coaches_path %></li>
         <li><%= link_to 'About Us Mangement', abouts_path %></li>
         <li><%= link_to 'Lesson Registration/Bookings', lesson_registrations_path %></li>
      	 <li><%= link_to 'Page details', pages_path %></li>
      <%end%>
 </ul>


 <div class="main_content">
     <div class="sd_right">
       <div class="text_padding">
           <div class="panel">
         <h4 class="widgettitle">Tennis Lessons</h4>
         <a class="button medium radius success"" onclick="_gaq.push(['_trackEvent', 'Buttons', 'Download theme', 'Homepage']);""  <%= link_to 'Book Now', lessons_path %> </a>

        </div>
        
          <h2> UseFul Links</h2>
     <% for page in @pages%>
       	 <p><a href="<%=h(page.useful_link_1) %>"><%=(h(page.useful_link_1)) %></a><br />
 	 		<a href="<%=h(page.useful_link_2) %>"><%=(h(page.useful_link_2)) %></a><br /> </p>
   
        <%end%>
         
         <h2>Search</h2>
         <form method="post" action="http://www.free-css.com/">
           <p>
             <input type="text" name="search" class="search" />
             <input type="submit" value="Go" class="submit" />
           </p>
         </form>
         <br />



       
   
       </div>
     </div>
                   
 <div class="sd_left">
 
 <h1>Home Page</h1>
 <p> Welcome to the TestSite</p>       
 <h2>News Feed</h2>
         <% for post in @posts%>
         <div class="entry">
         	<h3> <%= link_to h(post.title), post %> <blockquote style="text-align: right;"  ><%=h(post.created_at.to_s(:short))%></blockquote></h3>
    
             <p><%=h(post.content)%></p>
            
         </div>    
     <%end%>
   
 </div>     



 </div>
 </div>

 

   