<h1>Listing lessons</h1>

 <div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
    <%= h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
  </h2>
  
  
  
<%= calendar_for @lessons, :year => @date.year, :month => @date.month do |calendar| %>
<%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
<%= calendar.day(:day_method => :lesson_date) do |date, lessons| %>


<%= date.day %>
  <ul>
      <% for lesson in lessons %>
        <li><%= link_to h(lesson.title), lesson %></li>
      <% end %>
    </ul>

<% end %>
<% end %>

</div>

<table>
  <tr>
    <th>Title</th>
    <th>Lesson date</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  
  
  

<% @lessons.each do |lesson| %>
  <tr>
    <td><%= lesson.title %></td>
    <td><%= lesson.lesson_date %></td>
    <td><span class="price"><%=number_to_currency(lesson.price)%></span></td>
        <td><%= lesson.description %></td>
    <td><%= link_to 'Show', lesson %></td>
    <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
    <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lesson', new_lesson_path %>
