<h1>Tennis lessons</h1>

<p>Mike Martin Tennis Academy has been running tennis classes since 2006 and have a 
  reputation for delivering quality coaching. At a young age, we teach essential skills 
  for any sports people using the mini-tennis programme. Technique, racket skills, balance,
  coordination and matchplay will all be experienced on the course. A great opportunity for
  your child to meet other children with similar interests and to spend the summer playing sport outdoors!</p>

<p>Enrole your child now!!</p>
<table>
  <tr>
    <th><h5>Lesson Block</h5></th>
    <th><h5>Price</h3></th>
    <th><h5>Description</h3></th>
    <th><h5>Lesson Capacity</h3></th>
    <th><h5>Remaining Spaces</h3></th>
    <th><h5>Status</h3></th>
    <th></th>
    <th></th>
  </tr>
  
  
  
  

<% @lessons.each do |lesson| %>
  <tr>
    <td><%= lesson.title %></td>
    <td><%=number_to_currency(lesson.price,:unit => "&pound;")%></td>
    <td><%= lesson.description %></td>
    <td><%= lesson.capacity %></td>
    <td><%= @remaining_spaces= lesson.capacity - lesson.lesson_registrations.length   %></td>
    <% if @remaining_spaces> 0%>
      <td><span class="label success radius">avail</span></td>
          <td><%= link_to 'Book Now', lesson %></td>
    <%else%>
      <td><span class="label alert radius">full</span></td>
    <%end%>
    
  
    

       <% if can? :update, @product%>
	    <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
	    <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    
    </td>>
		<%end%>
</tr>
<% end %>
</table>

<br />
   <% if can? :update, @lesson%>
<%= link_to 'New Lesson', new_lesson_path %>
<%end%>
