<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @lesson.title %>
</p>

<p>
  <b>Lesson date:</b>
  <%= @lesson.lesson_date %>
</p>

<p>
  <b>Description:</b>
  <%= @lesson.description %>
</p>

<p>
  <b>Capacity</b>
  <%= @lesson.capacity %>
</p>

<p>
  <b>Price</b>
  <span class="price"><%=number_to_currency(@lesson.price ,:unit => "&pound;")%></span>

</p>


<%= link_to "checkout ", @lesson.paypal_url(lesson_url,  notification_lessons_url)%>
<%= link_to "make registration", new_registration_path(:lesson_id=> @lesson.id)%>

   <% if can? :update, @lesson%>

 

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>

<%end%>
