<p id="notice"><%= notice %></p>

<h1>Coach Profile</h1></br>
      
<div class=" panel text ">
<div class="row"><h4 class="span8"><%= @coach.name %></h4>

	<div class= "2 columns">
<img class="avatar avatar-75 photo" width="80" height="80"  alt="">   <%= image_tag @coach.image_url.to_s %>
</div>
<div class="eight columns">
<div class="row"><h5 class="span8">Level : <%= @coach.level %></h5>
	<p>  <%= @coach.bio %></p>

</div>
</div>
</div>
</div>
</div>


<% if can? :update, @coach%>
	<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%end%>

<%= link_to 'Back', coaches_path %>


