<h2>Contact Us</h2></br>

<%= form_for @message, :url => contact_path do |form| %>

  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% for page in @pages%>
	<div class=" panel text ">
		<div class="row">
	   	 <div class="eight columns">
			<div class="row"><h3 class="span8"><%=h(page.b_name) %> </h3></div></br></br>
			<div class="row"><h4 class="span8">Address : </h4><p><%=h(page.b_address) %> </div></br></p>
			<div class="row"><h4 class="span8">Email : </h4><p> <%=h(page.b_email) %></h6></div></br></p>
			<div class="row"><h4 class="span8">Telephone : </h4><p>+44(0)<%=h(page.b_tel) %> </h6></div></br></p>
		 </div>
		</div>
	</div>

 <%end%>
		
<h3>Send a Message	</h3>

  <p> Please feel free to send us a message using the form below and one of our representative will	contact you as soon as possbile. </p>
  
  <fieldset class="fields">
    <div class="field">
      <p><%= form.label :name%></br>
      <%= form.text_field :name , :placeholder => "Your name" %></p>
    </div>
    
    <div class="field">
      <p><%= form.label :email %></br>
      <%= form.text_field :email  , :placeholder => "Your email"%></p>
    </div>
    <div class="field">
      <p><%= form.label :subject %></br>
      <%= form.text_field :subject , :placeholder => "Message subject"%></p>
    </div>
    
    <div class="field">
     <p> <%= form.label "message" %></br>
      <%= form.text_area :body , :placeholder => "Your message here............"%></p>
    </div>
  </fieldset>
  
  <fieldset class="actions">
    <%= form.submit "Send" , :class => 'button medium radius success nice'%>
  </fieldset>
<% end %>