
<h1>Store Catalogue</h1>

<% for product in @products%>
<div class="entry">
	 <div class="image">
 	<td> <%= image_tag product.img_url_url.to_s %><td></td>
  </div>
	<h3><%=h(product.title)%></h3>
	<%=product.description%>
	<span class="price"><%=number_to_currency(product.price)%></span>
	
</div>	

<%=button_to "ADd to cart", :action => :add_to_cart, :id => product%>




<p>Find me in app/views/store/index.html.erb</p>
<%end%>
