<!DOCTYPE html>
<html>
<head>
  <title>Store Catalogue</title>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= stylesheet_link_tag    "home" %>	
  <%= stylesheet_link_tag    "store" %>	
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="content">
	 <div class="preheader">
  
  </div>
  
<div id="header">
  <h1 id="logo">TestSite&trade;</h1>
  <h2 id="slogan">Test on Rails</h2>
  
</div>

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path , :method =>:delete%>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>
<div class= "banner">
	<img src="http://edge.neocha.com/wp-content/uploads/2013/03/BANNER-PLACEHOLDER10.jpg" border="2" width="886px" alt="some_text">
	</div>
<div id="menu">
 <ul>
    <li><a href="http://localhost:3000/">Home</a>&nbsp;|&nbsp;</li>
    <li><a href="/store/index">Shop</a>&nbsp;|&nbsp;</li>
 	<li><%= link_to "blog", posts_path%></li>&nbsp;|&nbsp;
 	<li><a href="/about_us/index">About Us</a>&nbsp;|&nbsp;</li>
	<li><%= link_to "lessons", lessons_path%>&nbsp;|&nbsp;</li>
    <li><a href="/admin/book">Album</a>&nbsp;|&nbsp;</li>
    <li><a href="http://localhost:3000/coaches">About</a>&nbsp;|&nbsp;</li>
    <li><%= link_to "lessons", lessons_path%></li>
  </ul>

</div>

<body id="store">
<div id="banner">
	
	</div>
	
	<div id="columns">
	
		<div id="side">
		  <div id="cart">
            <%= render(:partial => "cart", :object => @cart) %>
          </div>
		</div>
		
		<div id ="main">
			<% if flash[:notice]%>
			<div>
				<%=flash[:notice]%>
			</div>
			<%end%>
				<%= yield%>
		</div>
	</div>

			
	<div id="footer">
 &copy; 2012-2013 TestSite
</div>
	
</div>
</body>
</html>
